name: Python package

on: [pull_request, push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: false
      matrix:
        python-version:
         - "3.6"
        include:
         - python-version: "3.5"
           pip-trusted-host: "pypi.python.org pypi.org files.pythonhosted.org"

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
        env:
          PIP_TRUSTED_HOST: ${{ matrix.pip-trusted-host }}

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Install Python build dependencies
        run: python -m pip install --upgrade pip setuptools wheel

      - name: Install libfuse-dev and pkg-config
        run: sudo apt install -y libfuse-dev pkg-config

      - name: Build
        run: python setup.py install

      - name: Test
        run: |
          sudo modprobe fuse
          mkdir /tmp/foo && python example/hello.py /tmp/foo && [ "$(cat /tmp/foo/hello)" = "Hello World!" ]
          mkdir /tmp/bar && python example/fioc.py /tmp/bar && [ -f /tmp/bar/fioc ]
